* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "WorkSans";
    src: url('../fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

@font-face {
    font-family: "Didact Gothic";
    src: url('../fonts/Didact_Gothic\ 2/');
}

@font-face {
    font-family: "Fjalla";
    src: url('../fonts/Fjalla_One/FjallaOne-Regular.ttf');
}

/*===============header(digital design)===============================*/
header div h1 {
    font-family: 'WorkSans';
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0 50px 0;
    text-align: center;
}

header div h2 {
    font-family: 'Fjalla';
    color: black;
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px;
}

header div img {
    display: block;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

header div p {
    font-family: "WorkSans";
    text-align: center;
    font-size: 100px;
    margin-bottom: 100px;
}

/*============start main ORBIS==================================*/
/*img*/
main article:nth-of-type(1) {
    background-image: url('../img/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-bottom: 200px;
    padding-top: 400px;
    padding-left: 330px;
}

/*==========-2019==============*/
main article:nth-of-type(1) p:nth-of-type(1) {
    color: #9E9E9E;
    font-size: 25px;
    margin-bottom: 20px;
}


main article:nth-of-type(1) h1:nth-of-type(1) {
    color: white;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-size: 112px;
    margin-bottom: 20px;
}

/* =======corperate Website===== */
main article:nth-of-type(1) div h2:nth-of-type(1) {
    color: #9E9E9E;
    padding: 10px;
    margin-bottom: 100px;
    text-align: left;

}

/* =======link================== */
main article:nth-of-type(1) div a:nth-of-type(1) {
    font-family: "WorkSans";
    color: white;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 10px 10px;
}

/* =======Zahl an der Seite===== */

main article:nth-of-type(1) p:nth-of-type(2) {
    font-family: "Fjalla";
    font-size: 160px;
    color: white;
    opacity: 0.5;
    text-align: right;
    margin-right: 100px;
}

/*============start Rollr============================================*/

main article:nth-of-type(2) {
    background-image: url('../img/computer.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-bottom: 200px;
    padding-top: 400px;
    padding-left: 330px;
}

/*==========-2019 rollr==============*/
main article:nth-of-type(2) p:nth-of-type(1) {
    color: #9E9E9E;
    font-size: 25px;
    margin-bottom: 20px;
}

/*==========Überschrift rolls==============*/
main article:nth-of-type(2) h1:nth-of-type(1) {
    color: black;
    font-family: 'WorkSans';
    font-style: normal;
    font-size: 112px;
    margin-bottom: 10px;
}

/* =======corperate Website===== */
main article:nth-of-type(2) div h2:nth-of-type(1) {
    color: #9E9E9E;
    padding: 10px;
    margin-bottom: 100px;
    text-align: left;
}

/* =======link================== */
main article:nth-of-type(2) div a:nth-of-type(1) {
    font-family: "WorkSans";
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px 10px;
}

/* =======Zahl an der Seite===== */

main article:nth-of-type(2) p:nth-of-type(2) {
    font-family: "Fjalla";
    font-size: 160px;
    color: black;
    opacity: 0.5;
    text-align: right;
    margin-right: 100px;
}


/*============start GALITO´s==================================*/

main article:nth-of-type(3) {
    background-image: url('../img/grill.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-bottom: 200px;
    padding-top: 400px;
    padding-left: 330px;
}

/*==========-2019==============*/
main article:nth-of-type(3) p:nth-of-type(1) {
    color: #9E9E9E;
    font-size: 25px;
    margin-bottom: 20px;
}


main article:nth-of-type(3) h1:nth-of-type(1) {
    color: white;
    font-family: 'WorkSans';
    font-style: normal;
    font-size: 112px;
    margin-bottom: 10px;
}

/* =======corperate Website===== */
main article:nth-of-type(3) div h2:nth-of-type(1) {
    color: #9E9E9E;
    padding: 10px;
    margin-bottom: 100px;
    text-align: left;
}

/* =======link================== */
main article:nth-of-type(3) div a:nth-of-type(1) {
    font-family: "WorkSans";
    color: white;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 10px 10px;
}

/* =======Zahl an der Seite===== */

main article:nth-of-type(3) p:nth-of-type(2) {
    font-family: "Fjalla";
    font-size: 160px;
    color: white;
    opacity: 0.5;
    text-align: right;
    margin-right: 100px;
}

/*=======================TRETTO========================*/

main article:nth-of-type(4) {
    background-image: url('../img/phones.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-bottom: 200px;
    padding-top: 400px;
    padding-left: 330px;
}

/*==========-2019 rollr==============*/
main article:nth-of-type(4) p:nth-of-type(1) {
    color: #9E9E9E;
    font-size: 25px;
    margin-bottom: 20px;
}

/*==========Überschrift rolls==============*/
main article:nth-of-type(4) h1:nth-of-type(1) {
    color: black;
    font-family: 'WorkSans';
    font-style: normal;
    font-size: 112px;
    margin-bottom: 10px;
}

/* =======corperate Website===== */
main article:nth-of-type(4) div h2:nth-of-type(1) {
    color: #9E9E9E;
    padding: 10px;
    margin-bottom: 100px;
    text-align: left;
}

/* =======link================== */
main article:nth-of-type(4) div a:nth-of-type(1) {
    font-family: "WorkSans";
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px 10px;
}

/* =======Zahl an der Seite===== */

main article:nth-of-type(4) p:nth-of-type(2) {
    font-family: "Fjalla";
    font-size: 160px;
    color: black;
    opacity: 0.5;
    text-align: right;
    margin-right: 100px;
}

/*=======================What more?========================*/

section {
    background-color: black;
    background-size: cover;
    /* padding: 80px auto; */
    height: 60vh;
}

section h1 {
    Font-family: "WorkSans";
    color: white;
    font-size: 90px;
    text-align: right;
    padding-right: 100px;
    padding-top: 100px;
    margin-bottom: 100px;
}

section p {
    padding: 10px 39px;
    font-family: "WorkSans";
    width: 420px;
    margin-left: 500px;
    color: white;
    opacity: 0.5;
    text-align: left;
    margin-bottom: 30px;
}

h2 {
    color: white;
    padding: 10px 40px;
    font-family: "WorkSans";
    font-size: 30px;
    margin-bottom: 30px;
    text-align: right;
}
